g4f
openai==0.28.0
tqdm
transformers
git+https://github.com/MaureenZOU/detectron2-xyz.git
einops
einops-exts
wandb
nltk
pandas
spacy
torchmetrics
altair
whisper
gpustat
timm
opencv-python-headless
webdataset
visual_genome
scikit-image
visual_genome
decord
peft
sentence-transformers
gradio